################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudioDemo/.vs/VisualStudioDemo/v15
/VisualStudioDemo/Debug
/VisualStudioDemo/VisualStudioDemo.vcxproj.user
/VisualStudioDemo/Unicode Release/VisualStudioDemo.tlog
/VisualStudioDemo/Unicode Release/VisualStudioDemo.log
/VisualStudioDemo/Unicode Release/vc141.pdb
/VisualStudioDemo/.vs/VisualStudioDemo/v14
/VisualStudioDemo/ipch/VISUALSTUDIODEMO-84dc9af6
/VisualStudioDemo/VisualStudioDemo.VC.VC.opendb
/VisualStudioDemo/VisualStudioDemo.VC.db
/.vs
