################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudioDemo/.vs/VisualStudioDemo/v15
/VisualStudioDemo/Debug
/VisualStudioDemo/VisualStudioDemo.vcxproj.user
/VisualStudioDemo/Unicode Release/VisualStudioDemo.tlog
/VisualStudioDemo/Unicode Release/VisualStudioDemo.log
/VisualStudioDemo/Unicode Release/vc141.pdb
/VisualStudioDemo/.vs/VisualStudioDemo/v14
/VisualStudioDemo/ipch/VISUALSTUDIODEMO-84dc9af6
/VisualStudioDemo/VisualStudioDemo.VC.VC.opendb
/VisualStudioDemo/VisualStudioDemo.VC.db
/.vs
/VisualStudioDemo/x64/Release/WatchBar.obj
/VisualStudioDemo/x64/Release/VSItems.obj
/VisualStudioDemo/x64/Release/VisualStudioDemoView.obj
/VisualStudioDemo/x64/Release/VisualStudioDemoDoc.obj
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/VisualStudioDemo.write.1u.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/VisualStudioDemo.lastbuildstate
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/rc.write.1.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/rc.read.1.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/rc.command.1.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/link.write.1.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/link.read.1.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/link.command.1.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/CL.write.1.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/CL.read.1.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog/CL.command.1.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.tlog
/VisualStudioDemo/x64/Release/VisualStudioDemo.res
/VisualStudioDemo/x64/Release/VisualStudioDemo.pch
/VisualStudioDemo/x64/Release/VisualStudioDemo.obj
/VisualStudioDemo/x64/Release/VisualStudioDemo.log
/VisualStudioDemo/x64/Release/VisualStudioDemo.ipdb
/VisualStudioDemo/x64/Release/VisualStudioDemo.iobj
/VisualStudioDemo/x64/Release/VisualStudioDemo.exe
/VisualStudioDemo/x64/Release/VisualStudioDemo.Build.CppClean.log
/VisualStudioDemo/x64/Release/vc141.pdb
/VisualStudioDemo/x64/Release/UndoListBox.obj
/VisualStudioDemo/x64/Release/UndoBar.obj
/VisualStudioDemo/x64/Release/stdafx.obj
/VisualStudioDemo/x64/Release/SplashWnd.obj
/VisualStudioDemo/x64/Release/SourceCodeView.obj
/VisualStudioDemo/x64/Release/ScintillaDocView.obj
/VisualStudioDemo/x64/Release/ScintillaDemoView.obj
/VisualStudioDemo/x64/Release/ScintillaDemoDoc.obj
/VisualStudioDemo/x64/Release/ScintillaCtrl.obj
/VisualStudioDemo/x64/Release/Scintilla.dll
/VisualStudioDemo/x64/Release/SciLexer.dll
/VisualStudioDemo/x64/Release/ResourceView.obj
/VisualStudioDemo/x64/Release/PropertiesViewBar.obj
/VisualStudioDemo/x64/Release/ProjectReferencesDialog.obj
/VisualStudioDemo/x64/Release/ProjectPropertiesDialog.obj
/VisualStudioDemo/x64/Release/OutputView.obj
/VisualStudioDemo/x64/Release/OutputBar.obj
/VisualStudioDemo/x64/Release/OptionsPages.obj
/VisualStudioDemo/x64/Release/OptionsDlg.obj
/VisualStudioDemo/x64/Release/MainFrm.obj
/VisualStudioDemo/x64/Release/Helper.obj
/VisualStudioDemo/x64/Release/FindComboBox.obj
/VisualStudioDemo/x64/Release/FileViewBar.obj
/VisualStudioDemo/x64/Release/FileNewDialog.obj
/VisualStudioDemo/x64/Release/FileManager.obj
/VisualStudioDemo/x64/Release/DynamicHelpView.obj
/VisualStudioDemo/x64/Release/ClassViewBar.obj
/VisualStudioDemo/x64/Release/ClassTreeWnd.obj
/VisualStudioDemo/x64/Release/ChildFrm.obj
/VisualStudioDemo/x64/Release/AssemblyHelper.obj
/VisualStudioDemo/x64/Release/AppLookDlg.obj
/VisualStudioDemo/x64/Release
/VisualStudioDemo/x64/Debug/WatchBar.obj
/VisualStudioDemo/x64/Debug/VSItems.obj
/VisualStudioDemo/x64/Debug/VisualStudioDemoView.obj
/VisualStudioDemo/x64/Debug/VisualStudioDemoDoc.obj
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog/VisualStudioDemo.lastbuildstate
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog/rc.write.1.tlog
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog/rc.read.1.tlog
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog/rc.command.1.tlog
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog/link.write.1.tlog
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog/link.read.1.tlog
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog/link.command.1.tlog
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog/CL.write.1.tlog
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog/CL.read.1.tlog
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog/CL.command.1.tlog
/VisualStudioDemo/x64/Debug/VisualStudioDemo.tlog
/VisualStudioDemo/x64/Debug/VisualStudioDemo.res
/VisualStudioDemo/x64/Debug/VisualStudioDemo.pdb
/VisualStudioDemo/x64/Debug/VisualStudioDemo.pch
/VisualStudioDemo/x64/Debug/VisualStudioDemo.obj
/VisualStudioDemo/x64/Debug/VisualStudioDemo.log
/VisualStudioDemo/x64/Debug/VisualStudioDemo.ilk
/VisualStudioDemo/x64/Debug/VisualStudioDemo.exe
/VisualStudioDemo/x64/Debug/VisualStudioDemo.Build.CppClean.log
/VisualStudioDemo/x64/Debug/vc141.pdb
/VisualStudioDemo/x64/Debug/vc141.idb
/VisualStudioDemo/x64/Debug/UndoListBox.obj
/VisualStudioDemo/x64/Debug/UndoBar.obj
/VisualStudioDemo/x64/Debug/stdafx.obj
/VisualStudioDemo/x64/Debug/SplashWnd.obj
/VisualStudioDemo/x64/Debug/SourceCodeView.obj
/VisualStudioDemo/x64/Debug/ScintillaDocView.obj
/VisualStudioDemo/x64/Debug/ScintillaDemoView.obj
/VisualStudioDemo/x64/Debug/ScintillaDemoDoc.obj
/VisualStudioDemo/x64/Debug/ScintillaCtrl.obj
/VisualStudioDemo/x64/Debug/ResourceView.obj
/VisualStudioDemo/x64/Debug/PropertiesViewBar.obj
/VisualStudioDemo/x64/Debug/ProjectReferencesDialog.obj
/VisualStudioDemo/x64/Debug/ProjectPropertiesDialog.obj
/VisualStudioDemo/x64/Debug/OutputView.obj
/VisualStudioDemo/x64/Debug/OutputBar.obj
/VisualStudioDemo/x64/Debug/OptionsPages.obj
/VisualStudioDemo/x64/Debug/OptionsDlg.obj
/VisualStudioDemo/x64/Debug/MainFrm.obj
/VisualStudioDemo/x64/Debug/Helper.obj
/VisualStudioDemo/x64/Debug/FindComboBox.obj
/VisualStudioDemo/x64/Debug/FileViewBar.obj
/VisualStudioDemo/x64/Debug/FileNewDialog.obj
/VisualStudioDemo/x64/Debug/FileManager.obj
/VisualStudioDemo/x64/Debug/DynamicHelpView.obj
/VisualStudioDemo/x64/Debug/ClassViewBar.obj
/VisualStudioDemo/x64/Debug/ClassTreeWnd.obj
/VisualStudioDemo/x64/Debug/ChildFrm.obj
/VisualStudioDemo/x64/Debug/AssemblyHelper.obj
/VisualStudioDemo/x64/Debug/AppLookDlg.obj
/VisualStudioDemo/x64/Debug
/VisualStudioDemo/x64
/VisualStudioDemo/Release/WatchBar.obj
/VisualStudioDemo/Release/VSItems.obj
/VisualStudioDemo/Release/VisualStudioDemoView.obj
/VisualStudioDemo/Release/VisualStudioDemoDoc.obj
/VisualStudioDemo/Release/VisualStudioDemo.tlog/VisualStudioDemo.write.1u.tlog
/VisualStudioDemo/Release/VisualStudioDemo.tlog/VisualStudioDemo.lastbuildstate
/VisualStudioDemo/Release/VisualStudioDemo.tlog/rc.write.1.tlog
/VisualStudioDemo/Release/VisualStudioDemo.tlog/rc.read.1.tlog
/VisualStudioDemo/Release/VisualStudioDemo.tlog/rc.command.1.tlog
/VisualStudioDemo/Release/VisualStudioDemo.tlog/link.write.1.tlog
/VisualStudioDemo/Release/VisualStudioDemo.tlog/link.read.1.tlog
/VisualStudioDemo/Release/VisualStudioDemo.tlog/link.command.1.tlog
/VisualStudioDemo/Release/VisualStudioDemo.tlog/CL.write.1.tlog
/VisualStudioDemo/Release/VisualStudioDemo.tlog/CL.read.1.tlog
/VisualStudioDemo/Release/VisualStudioDemo.tlog/CL.command.1.tlog
/VisualStudioDemo/Release/VisualStudioDemo.res
/VisualStudioDemo/Release/VisualStudioDemo.pch
/VisualStudioDemo/Release/VisualStudioDemo.obj
/VisualStudioDemo/Release/VisualStudioDemo.log
/VisualStudioDemo/Release/VisualStudioDemo.ipdb
/VisualStudioDemo/Release/VisualStudioDemo.iobj
/VisualStudioDemo/Release/VisualStudioDemo.exe
/VisualStudioDemo/Release/VisualStudioDemo.Build.CppClean.log
/VisualStudioDemo/Release/vc141.pdb
/VisualStudioDemo/Release/UndoListBox.obj
/VisualStudioDemo/Release/UndoBar.obj
/VisualStudioDemo/Release/stdafx.obj
/VisualStudioDemo/Release/SplashWnd.obj
/VisualStudioDemo/Release/SourceCodeView.obj
/VisualStudioDemo/Release/ScintillaDocView.obj
/VisualStudioDemo/Release/ScintillaDemoView.obj
/VisualStudioDemo/Release/ScintillaDemoDoc.obj
/VisualStudioDemo/Release/ScintillaCtrl.obj
/VisualStudioDemo/Release/Scintilla.dll
/VisualStudioDemo/Release/SciLexer.dll
/VisualStudioDemo/Release/ResourceView.obj
/VisualStudioDemo/Release/PropertiesViewBar.obj
/VisualStudioDemo/Release/ProjectReferencesDialog.obj
/VisualStudioDemo/Release/ProjectPropertiesDialog.obj
/VisualStudioDemo/Release/OutputView.obj
/VisualStudioDemo/Release/OutputBar.obj
/VisualStudioDemo/Release/OptionsPages.obj
/VisualStudioDemo/Release/OptionsDlg.obj
/VisualStudioDemo/Release/MainFrm.obj
/VisualStudioDemo/Release/Helper.obj
/VisualStudioDemo/Release/FindComboBox.obj
/VisualStudioDemo/Release/FileViewBar.obj
/VisualStudioDemo/Release/FileNewDialog.obj
/VisualStudioDemo/Release/FileManager.obj
/VisualStudioDemo/Release/DynamicHelpView.obj
/VisualStudioDemo/Release/ClassViewBar.obj
/VisualStudioDemo/Release/ClassTreeWnd.obj
/VisualStudioDemo/Release/ChildFrm.obj
/VisualStudioDemo/Release/AssemblyHelper.obj
/VisualStudioDemo/Release/AppLookDlg.obj
/VisualStudioDemo/.vs/VisualStudioDemo/v16
