################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudioDemo/.vs/VisualStudioDemo/v15
